<footer class="footer_area">
		<div class="container">
			<div class="row footer_inner">
				<div class="col-lg-4 col-sm-4">
					<aside class="f_widget ab_widget">
						<div class="f_title">
							<h3>Contact Us</h3>
						</div>
						<a href="mailto:mondayqinfo@gmail.com">mondayqinfo@gmail.com</a>
					</aside>
				</div>
				<div class="col-lg-4 col-sm-4">
					<aside class="f_widget news_widget">
						<div class="f_title">
							<h3>Newsletter</h3>
						</div>
						<p>Sign up to be the first to know when we we post a new article!</p>
						<div id="mc_embed_signup">
							<form action="https://gmail.us5.list-manage.com/subscribe/post?u=d7085923578c7e43950ce0ecc&amp;id=e9a953f904" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<div id="mc_embed_signup_scroll">
								<label for="mce-EMAIL">Subscribe</label>
								<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7085923578c7e43950ce0ecc_e9a953f904" tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
								</div>
							</form>
						</div>
					</aside>
				</div>
				<div class="col-lg-4 col-sm-4 text-center">
					<aside class="f_widget social_widget">
						<div class="f_title">
							<h3>Follow Us</h3>
						</div>
						<ul class="list">
							<li><a href="https://twitter.com/acaseofthegolf1"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.instagram.com/mondayqinfo/"><i class="fa fa-instagram"></i></a></li>

						</ul>
					</aside>
				</div>
			</div>
		</div>
  </footer>
  
  	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/public/js/jquery-3.2.1.min.js"></script>
	<script src="/public/js/popper.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/stellar.js"></script>
	<script src="/public/js/jquery.magnific-popup.min.js"></script>
	<script src="/public/vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="/public/vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="/public/vendors/isotope/isotope-min.js"></script>
	<script src="/public/js/jquery.ajaxchimp.min.js"></script>
	<script src="/public/vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="/public/vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="/public/js/mail-script.js"></script>
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  

	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSAK1oRccNklDgvb1RUA-ccz8QrciAlb4"></script>
	<script src="/public/js/gmaps.min.js"></script>
 	<script src="/public/js/theme.js"></script>
  
</body>
</html>
