{% include "partials/header.html" %}
{% for featured in featured %}

<style>
.jumbotron {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.075) 0%,rgba(0, 0, 0, 0.719) 100%), url("{{featured.imageURL}}");
  background-position: center;
  background-size: cover;
  color: white;
}
</style>

 
	<!--================Home Banner Area =================-->
	<section class="m-3">
      <div class="container">
          <div class="row">
              <div class="col-md-12 order-md-1">
                  <div class="jumbotron p-4 p-md-5">
                    <div class="col-md-6 px-0">

                      <h1 class="display-4 font-italic">{{featured.title}}</h1>
                      <p class="lead my-3">{{featured.snipet}}</p>
                      <p class="lead mb-0"><a href="/{{featured.category}}/{{featured._id}}" class="text-white font-weight-bold">Continue reading...</a></p>
                      
                      {% endfor %}

                    </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <div class="container">
        <div class="row mb-2">
        <div class="col-md-6">
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Jenny Coleman is currently 8th in OOM and her card is not yet secure...she makes birdie on first after great 9 iron to 4 ft (which of course I didnt record, but imagine it please) shes now tied for the lead <a href="https://t.co/ww9dS3jLh0">pic.twitter.com/ww9dS3jLh0</a></p>— Monday Q Info (@acaseofthegolf1) <a href="https://twitter.com/acaseofthegolf1/status/1180845265433108481?ref_src=twsrc%5Etfw">October 6, 2019</a></blockquote> 
        </div>
        <div class="col-md-6">
            <script src="https://www.buzzsprout.com/692172.js?player=large" type="text/javascript" charset="utf-8"></script>            
        </div>
        </div>
          <div class="row">
            <div class="col-md-8 blog-main mb-3">
              <h3 class="pb-4 mb-4 font-italic border-bottom">
                Recent Posts
              </h3>
              <div class="blog-post">
                  {% for article in articles %}
                            <div class="card mb-3" style="max-width: 680px">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                <img src={{article.imageURL}} class="card-img" style="object-fit: contain;  position: relative;
                                top: 50%;
                                -webkit-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);" alt="img" />
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                <p class="card-text"><small class="text-muted">{{article.category}}</small></p>
                                  <h4 class="card-title">{{article.title}}</h4>
                                  <p class="card-text"><small class="text-muted">{{article.dateAdded}}</small></p>
                                  <a href="/{{article.category}}/{{article._id}}" class="stretched-link"></a>
                                </div>
                              </div>
                            </div>
                          </div>
                  {% endfor %}
                </div>
                </div>

            <aside class="col-md-4 blog-sidebar">
              <div class="card my-4">
                <div class="card-body">
                  <a class="twitter-timeline" data-tweet-limit="4" href="https://twitter.com/acaseofthegolf1?ref_src=twsrc%5Etfw">Tweets by acaseofthegolf1</a>  
                         </div>
              </div>
            </aside>
      </div>
      </div>
    

<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>
  window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script>
setInterval(function() {
  var dataStamp = $('#startTime').text();

  $('#uptime').text('Started ' + moment(dataStamp, 'x').fromNow())
}, 1000);
</script>

{% include "partials/footer.html" %}
