{% include "partials/header.html" %}
{% for featured in featured %}

<style>
.jumbotron {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.075) 0%,rgba(0, 0, 0, 0.719) 100%), url("{{featured.imageURL}}");
  background-position: center;
  /* top */
  background-size: cover;
  color: white;
}
</style>

 
	<!--================Home Banner Area =================-->
	<section class="m-3">
      <div class="container">
          <div class="row">
              <div class="col-md-12 order-md-1">
                  <div class="jumbotron p-4 p-md-5">
                    <div class="col-md-6 px-0">

                      <h1 class="display-4 font-italic">{{featured.title}}</h1>
                      <p class="lead my-3">{{featured.snipet}}</p>
                      <p class="lead mb-0"><a href="/{{featured.category}}/{{featured._id}}" class="text-white font-weight-bold">Continue reading...</a></p>
                      
                      {% endfor %}

                    </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <div class="container">
        <div class="row mb-2">
        <div class="col-md-6">
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">HELL YEAH <a href="https://twitter.com/cliffkresge?ref_src=twsrc%5Etfw">@cliffkresge</a> !!! Congrats on the Mon Q <a href="https://t.co/8QGeD9FJk2">pic.twitter.com/8QGeD9FJk2</a></p>&mdash; Monday Q Info (@acaseofthegolf1) <a href="https://twitter.com/acaseofthegolf1/status/1232082068936495104?ref_src=twsrc%5Etfw">February 24, 2020</a></blockquote>      
        </div>
        <div class="col-md-6" style="margin-top: 10px;">
            <script src="https://www.buzzsprout.com/692172.js?player=large" type="text/javascript" charset="utf-8"></script>  
            <div class="text-center">
              <a href="https://podcasts.apple.com/us/podcast/any-given-monday-q/id1486702120" target="_blank"> <img src="/public/img/US_UK_Apple_Podcasts_Listen_Badge_RGB.png"/> </a>
              <a href="https://open.spotify.com/show/1xZFIE9lGNLZaUBjUIc2VF" target="_blank"> <img src="/public/img/spotify-podcast-badge-blk-grn-165x40.png"/> </a>  
              <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcy5idXp6c3Byb3V0LmNvbS82OTIxNzIucnNz" target="_blank"> <img src="/public/img/google_podcasts_badge.png"/> </a>  
            </div>        
        </div>

        </div>
          <div class="row">
            <div class="col-md-8 blog-main mb-3" style="padding-top: 35px">
              <h3 class="pb-4 mb-4 font-italic border-bottom">
                Recent Posts
              </h3>
              <div class="blog-post">
                  {% for article in articles %}
                            <div class="card mb-3" style="max-width: 680px; max-height: 200px; min-height: 150px;">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                <img src={{article.imageURL}} class="card-img" style="object-fit: cover;  position: relative;
                                top: 50%;
                                -webkit-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                                max-height: 190px;" alt="img" />
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                <p class="card-text"><small class="text-muted">{{article.category}}</small></p>
                                <h4 class="card-title">{{article.title}}</h4>
                                <p class="card-text"><small class="text-muted">{{article.dateAdded}}</small></p>
                                  <a href="/{{article.category}}/{{article._id}}" class="stretched-link"></a>
                                </div>
                              </div>
                            </div>
                          </div>
                  {% endfor %}
                </div>
                </div>

            <aside class="col-md-4 blog-sidebar">
              <div class="card my-4">
                <div class="card-body">
                  <a class="twitter-timeline"  data-tweet-limit="4" href="https://twitter.com/acaseofthegolf1?ref_src=twsrc%5Etfw">Tweets by acaseofthegolf1</a>  
                </div>
              </div>
            </aside>
      </div>
      </div>
    

<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>
  window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script>
setInterval(function() {
  var dataStamp = $('#startTime').text();

  $('#uptime').text('Started ' + moment(dataStamp, 'x').fromNow())
}, 1000);
</script>

{% include "partials/footer.html" %}
