{% include "partials/header.html" %}

    <div class="container">
      <br>
          <div class="row">
            <div class="col-md-8 blog-main mt-3 mb-3">
              <h3 class="pb-4 mb-4 font-italic border-bottom">
                Podcasts
              </h3>
              <div class="blog-post">
                  <script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/692172.js?player=small&limit=10'></script>                
                </div>
                </div>

            <aside class="col-md-4 blog-sidebar">
              <div class="card my-4">
                <div class="card-body">
                  <a class="twitter-timeline" data-tweet-limit="4" href="https://twitter.com/acaseofthegolf1?ref_src=twsrc%5Etfw">Tweets by acaseofthegolf1</a>  
                         </div>
              </div>
            </aside>
      </div>
      </div>
    

<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>
  window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script>
setInterval(function() {
  var dataStamp = $('#startTime').text();

  $('#uptime').text('Started ' + moment(dataStamp, 'x').fromNow())
}, 1000);
</script>

{% include "partials/footer.html" %}
